QMainWindow {
    background: #292929;
    color: white;
}

QPushButton {
    background: #131313;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

QLabel {
    color: white;
    background: #131313;
    padding: 10px;
}

#exit:hover {
    background: white;
    color: black;
}

#on {
    background-color: green;
}

#off {
    background-color: #a91515;
}

#currentDns {
    padding: 10px;
}